@define-color accent_color #ffba4b;
@define-color accent_bg_color #ba5e1a;
@define-color accent_fg_color #ffdbc6;
@define-color window_bg_color #111;
@define-color headerbar_bg_color #111;

.main-box {
  background: linear-gradient(135deg, @window_bg_color, #170900);
}

.event-row button {
  background: none;
  margin: 0;
}
.event-row button:hover {
  color: #ffb4a9;
}
