@define-color accent_color #9a4600;
@define-color accent_bg_color #fa904a;
@define-color accent_fg_color #331200;
@define-color window_bg_color #fff;
@define-color headerbar_bg_color #fff;

.list-action-button {
  padding: 10px;
  border-radius: 999px;
}
.list-action-button.accent-button {
  background: @accent_bg_color;
  color: @accent_fg_color;
  box-shadow: 0 4px 8px 3px alpha(@accent_bg_color, 0.30);
}
.list-action-button.accent-button:hover {
  background: shade(@accent_bg_color, 1.024);
  box-shadow: 0 6px 10px 4px alpha(@accent_bg_color, 0.30);
}
.list-action-button.accent-button:active {
  background: shade(@accent_bg_color, 0.95);
  box-shadow: 0 4px 8px 3px alpha(@accent_bg_color, 0.30);
}

.main-box {
  background: linear-gradient(135deg, @window_bg_color, mix(@window_bg_color, @accent_bg_color, 0.2));
}

.event-row button {
  background: none;
  margin: 0;
}
.event-row button:hover {
  color: #ba1b1b;
}

.event-list {
  margin: 0;
  padding: 0;
}
.event-list .event-row {
  background: none;
  padding: 8px 0;
  border-radius: 12px;
  margin-bottom: 0px;
}
.event-list .event-row:hover {
  background: none;
}
.event-list row {
  background-color: alpha(#888, 0.11);
  margin-bottom: 4px;
  border-radius: 12px;
  padding: 0 8px 0 0;
}
.event-list row:hover {
  background-color: alpha(#888, 0.22);
}

.event-list row {
  border-radius: 8px;
}

.dialog-event list {
  background: @view_bg_color;
  box-shadow: none;
}

.event-title {
  font-size: 1.5rem;
  font-weight: 400;
}

.stack-button {
  font-size: 1.5rem;
  font-weight: 300;
  padding: 0;
  margin: 0;
}

.stack-button:checked {
  font-weight: 600;
  background: none;
}

.search-bar {
  border-radius: 999px;
}
